.example-card {
    max-width: 400px;
  }
  
  .example-header-language {
    background-image: url('../../../assets/images/language_arts.jpg');
    background-size: cover;
  }

  .example-header-math {
    background-image: url('../../../assets/images/geometry.jpg');
    background-size: cover;
  }

  .row-space-top-12 {
      margin-top: 120px;
  }