<div class="container">
    <div class="row row-space-top-12">
        <div class="col-md-4">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Language arts</mat-card-title>
                    <mat-card-subtitle>Letter identification</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/images/language_arts.jpg" alt="Letter identification image">
                <mat-card-content>
                    <p>
                        Find the letter in the given alphabet.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" routerLink="/courses/language-course" routerLinkActive="active">GO TO</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>