<div class="container">
    <div class="row row-space-top-6 justify-content-right">
        <div class="col-1 offset-11">
            <button mat-stroked-button color="primary" (click)="goBack()">
                GO BACK
            </button>
        </div>
    </div>
    <div class="mat-app-background basic-container row-space-top-6">
        <mat-list role="list">
            <h3 matSubheader><b>Language course questions list</b></h3>
            <mat-divider></mat-divider>
            <h1 matSubheader><i>Find the letter in the alphabet. Find the picture that matches the word</i></h1>
            <mat-list-item role="listitem" *ngFor="let item of items">
                <div class="col-11">
                    <span>
                        {{ item.title }}
                    </span>
                </div>
                <div class="col-2">
                    <button mat-stroked-button color="primary" routerLink="/courses/language-course/{{item.id}}/details" routerLinkActive="active">
                        START
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>